<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    @RenderSection("Css", false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js" />
    <link href="~/css/main.css" rel="stylesheet" />
    <title>Shop app</title>
</head>
<body>
    @await Html.PartialAsync("_navbar")

    <main class="my-3">
        <div class="container">
            @if (TempData["message"] != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            @TempData["message"]
                        </div>
                    </div>
                </div>
            }
            @RenderBody()
        </div>
    </main>
    <footer class="py-5 bg-dark text-white text-center">
        Shop App 2020
    </footer>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>*@
    @RenderSection("Scripts", false)
</body>
</html>

