
<div class="row">
    <div class="col-md-9">
        Product Index
    </div>
</div>

@section Header
{
    @await Html.PartialAsync("_header")
}

@section Categories{
        @await Component.InvokeAsync("Categories")
}